# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# IDE metadata
.idea/

# Expo
.expo/
dist/
**/build/
web-build/
expo-env.d.ts

# Native
.kotlin/
**/.gradle/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*-debug.log
*.log
debug/
dumps/
*.dump
*.tmp
tmp/
temp/

# macOS
.DS_Store
*.pem

# local env files
.env*
!.env.example
*service-account*.json
*firebase-adminsdk*.json

# typescript
*.tsbuildinfo
tsc_output*.txt
tsc-output*.txt

example

# generated native folders
/ios
/android

# local modules build artifacts
modules/*/android/build/
modules/*/ios/build/

